<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Assistente RAG</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <h1>Assistente de Documentos</h1>

    <div class="chat-container">

        <textarea id="question"></textarea>

        <button onclick="sendQuestion()">
            Perguntar
        </button>

        <div id="response"></div>

        <div id="sources"></div>

    </div>

    <script src="/static/js/app.js"></script>

</body>
</html>